/*
*...すべての要素
#...要素をidで指定。基本は一つしかない要素に対して用いる
. ...要素をクラス名で指定。複数ある要素に対して用いる
*/
/*すべての要素の初期設定--------------------------------------------------------------------*/
*{
    box-sizing: border-box;/*omamori*//*widthを、marginとpadding含めて計算するようになるらしい*/
}

/*それぞれの初期スタイル指定-------------------------------------------------------------------*/

.uesita{/*上下のヘッダーとフッター*/
    display: block;/*blockはデフォルトで横幅いっぱい*/
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: rgb(0, 0, 0);
}

#center{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    position: relative;/* すべての画面の最初の基準はcenterの左上 */
    aspect-ratio: 2/1;
    background-color: rgb(0, 0, 0);
}
/* 左に小さく表示するpopのスタイル */
#hidaripopBG{
    display: none;/*最初はnone（jsの方で表示と非表示を切り替える） */
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 20%;
    aspect-ratio: 2/1;
    top: 60%;
    left: 13%;
    background-color: rgba(176, 33, 33, 0.644);
    color: rgb(255, 210, 210);
    transform: translate(-50%,-50%);
    z-index: 1000;
    font-size: 2vw;
}

#touryou_pop{
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 20%;
    aspect-ratio: 2/1;
    top: 87%;
    left: 13%;
    background-color: rgb(168, 165, 0);
    color: rgb(66, 0, 0);
    transform: translate(-50%,-50%);
    border: 0.2vw solid;
    border-color: rgb(124, 122, 0);
    z-index: 500;
    font-size: 4vw;
}
#touryou_pop:hover{
    background-color: rgb(124, 122, 0);
    border-color: rgb(168, 165, 0);
}


/* 真ん中に大きく表示するpopのスタイル */
#popBG{
    display: none;/*最初はnone（jsの方で表示と非表示を切り替える） */
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(73, 197, 7, 0.8);
    z-index: 1000;
}

#popUpper{
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 80%;
    height: 40%;
    top: 25%;
    left: 50%;
    font-size: 5vw;
    transform: translate(-50%,-50%);
    background-color: rgba(73, 197, 7, 0.8);
    color: white;
}

.button{/* 親はpopBG */
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    height: 40%;
    aspect-ratio: 1/1;
    top: 70%;/* 左右位置はｊｓで指定 */
    font-size: 3vw;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 199, 125, 0.8);
    border: 0.5vw solid;
    border-color: rgba(255, 229, 194, 0.8) rgba(122, 69, 1, 0.8) rgba(122, 69, 1, 0.8) rgba(255, 229, 194, 0.8);
    color: white;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.button:hover{
    background-color: rgba(225, 169, 95, 0.8);
    border: 0.5vw solid;
    border-color: rgba(122, 69, 1, 0.8) rgba(255, 229, 194, 0.8) rgba(255, 229, 194, 0.8) rgba(122, 69, 1, 0.8);
    color: rgb(255, 252, 217);
}

#on_play_pop{
    display: none;/*最初はnone（jsの方で表示と非表示を切り替える） */
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 25%;
    aspect-ratio: 1/1;
    bottom: 2%;
    left: 13.1%;
    background-color: rgb(133, 80, 0);
    color: rgb(255, 210, 210);
    transform: translate(-50%,0%);
    z-index: 1010;
    font-size: 2vw;
}

#play_pop_text{/* 親は#on_play_pop */
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 100%;
    aspect-ratio: 2/1;
    top: 0%;
    left: 50%;
    background-color: rgb(133, 80, 0);
    color: rgb(255, 210, 210);
    transform: translate(-50%,0%);
    z-index: 1010;
    font-size: 3vw;
}

.small_button{/* 親は#on_play_pop */
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    width: 40%;
    aspect-ratio: 1/1;
    top: 58%;/* 左右位置は#個別で指定 */
    font-size: 2.5vw;
    background-color: rgba(255, 199, 125, 0.8);
    border: 0.5vw solid;
    border-color: rgba(255, 229, 194, 0.8) rgba(122, 69, 1, 0.8) rgba(122, 69, 1, 0.8) rgba(255, 229, 194, 0.8);
    color: rgb(82, 60, 0);
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.small_button:hover{
    background-color: rgba(225, 169, 95, 0.8);
    border: 0.5vw solid;
    border-color: rgba(122, 69, 1, 0.8) rgba(255, 229, 194, 0.8) rgba(255, 229, 194, 0.8) rgba(122, 69, 1, 0.8);
    color: rgb(42, 30, 0);
}

#sbutton1{
    left: 5%;
}
#sbutton2{
    right: 5%;
}

/*将棋盤*/
#mainB{
    display: block;
    margin: 0px;
    padding: 5px;
    position: absolute;
    height: 95%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(208, 195, 70);
}

.komablock{
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 11%;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%);
    background-color: rgb(208, 195, 70);
    border: 0.1vw solid;
    border-color: rgb(0, 0, 0);
}


.komaimg{
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 11%;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%);
}


/*手ごま*/
.tegoma{
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 40%;
    aspect-ratio: 4/5;
    transform: translate(-50%,-50%);
    background-color: rgb(191, 184, 116);
}

#tegoma1{
    top: 75%;
    left: 87%;
}

#tegoma2{
    top: 25%;
    left: 13%;
}

.tegomablock{
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 24%;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%);
    background-color: rgb(212, 204, 129);
    border: 0.1vw solid;
    border-color: rgb(185, 178, 113);
    
}

.tegomaimg{
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 24%;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%);
}





/* タイマーの背景と時間、現在のターン */
#timerBG{
    display: block;
    margin: 0px;
    padding: 5px;
    position: absolute;
    width: 20%;
    aspect-ratio: 1/1;
    top: 8%;
    left: 78%;
    background-color: rgb(20, 158, 114);
}

.time{
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 49%;
    aspect-ratio: 1/1;
    background-color: rgb(1, 119, 43);
    font-size: 2vw;
}
.turn{
    display: grid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 49%;
    aspect-ratio: 1/1;
    background-color: rgb(1, 119, 43);
    font-size: 1.5vw;
}
#time_1{
    top: 0px;
    right: 0px;
}
#time_2{
    bottom: 0px;
    right: 0px;
}
#turn_1{
    top: 0px;
    left: 0px;
}
#turn_2{
    bottom: 0px;
    left: 0px;
}

#thinking_time_CPU{
    display: none;/*最初はnone（jsの方で表示と非表示を切り替える） */
    margin: 0px;
    padding: 0px;
    position: absolute;
    place-items: center;
    text-align: center;
    width: 20%;
    aspect-ratio: 2/1;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 115, 88, 0.901);
    color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    z-index: 1000;
    font-size: 3vw;
}


/*あとからつけたりはずしたりするクラス属性-----------------------------------------------------------------------*/
.turn.now{/*自分と相手のうち手番の方を光らせる*/
    background-color: rgb(141, 230, 52);
    animation: capital_size 2.0s linear infinite;
}

.time.now{/*持ち時間を明るくする*/
    background-color: rgb(141, 230, 52);
}


.is_active {/* JavaScriptで付与する「表示中」のクラス*/
  display: block; /* 表示に切り替える */
}

#on_play_pop.is_active {/* JavaScriptで付与する「表示中」のクラス*/
  display: block; /* 表示に切り替える */
}

#popBG.is_active{
    display: grid;
}

#hidaripopBG.is_active{
    display: grid;
}

#thinking_time_CPU.is_active{
    display: grid;
}

.blight_to_normal{
    animation: blight-to-normal 1.0s linear;
}

/*カスケード順(コードの上から順）に読み込むのでこれは最後に置いておく*/
.hide{
    display: none;
}

/*アニメーション用の用意-----------------------------------------------------------------------------------------*/
@keyframes blight-to-normal{/*明るい状態から元の色に戻る*/
    0%{
        filter:brightness(100%);
    }
    10%{
        filter: brightness(150%);
    }
    30%{
        filter: brightness(100%);
    }
}

@keyframes capital_size{
    0%{
        font-size: 2vw;
    }
    50%{
        font-size: 2.2vw;
    }
    100%{
        font-size: 2vw;
    }
}




