/*
*...すべての要素
#...要素をidで指定。基本は一つしかない要素に対して用いる
. ...要素をクラス名で指定。複数ある要素に対して用いる
*/

*{
    box-sizing: border-box;/*omamori*//*widthを、marginとpadding含めて計算するようになるらしい*/
}



.uesita{/*上下のヘッダーとフッター*/
    display: block;/*blockはデフォルトで横幅いっぱい*/
    margin: 0px;
    padding: 0px;
    position: relative;
    /*width: 90%;*/
    background-color: antiquewhite;
}

#center{
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    aspect-ratio: 2/1;
    border: 1px solid;
    background-color: rgb(80, 0, 0);
}

#popBG{
    display: block;
    margin: 5px;
    padding: 5px;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(80, 0, 0);
}

#popTextBG{
    display: grid;
    margin: 5px;
    padding: 5px;
    position: absolute;
    place-items: center;
    width: 80%;
    height: 40%;
    top: 25%;
    left: 50%;
    font-size: 5vw;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 199, 125);
}


.button{
    display: grid;
    margin: 5px;
    padding: 5px;
    position: absolute;
    place-items: center;
    width: 25%;
    height: 30%;
    top: 55%;
/*left 16.7%, 50%. 83.3%はjsで記述*/
    transform: translate(-50%,0%);
    font-size: 5vw;
    color: rgb(103, 0, 0);
    background-color: brown;
    border: 1vw solid;
    border-color: rgb(198, 97, 97) rgb(129, 17, 17) rgb(129, 17, 17) rgb(198, 97, 97);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
}
.button:hover{
    color: rgb(87, 0, 0);
    background-color: rgb(138, 34, 34);
    border-color: rgb(129, 17, 17) rgb(198, 97, 97) rgb(198, 97, 97) rgb(129, 17, 17);
}

#modoru{
    display: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    place-items: center;
    width: 25%;
    height: 10%;
    top: 35%;
    transform: translate(-50%,0%);
    font-size: 2vw;
    color: rgb(103, 0, 0);
    background-color: rgb(255, 199, 125);
    border: 0.4vw solid;
    border-color: rgb(255, 228, 193) rgb(164, 98, 11) rgb(164, 98, 11) rgb(255, 228, 193);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
    z-index: 1000;
}
#modoru:hover{
    color: rgb(87, 0, 0);
    background-color: rgb(212, 146, 59);
    border-color: rgb(164, 98, 11) rgb(255, 228, 193) rgb(255, 228, 193) rgb(164, 98, 11);
}










/*カスケード順に読み込むのでこれは最後に置いておく*/
.hide{
    display: none;
}



